html{
    background-color: hotpink;
}

.white-keys{
    display: flex;
}

.white-keys kbd {
    height: 120px;
    width: 40px;
    background-color: white;
    border: 1px solid black;
    padding-top: 90px;
    box-sizing: border-box;
}

.black-keys{
    display: flex;
    position: absolute;
}

.black-keys kbd{
    height: 80px;
    width: 22px;
    background-color: black;
    color: white;
    padding-top: 45px;
    box-sizing: border-box;
    border: 1px solid black;
}

#W{
    margin-left: 29px;
}

#E{
    margin-left: 18px;
}

#T{
    margin-left: 58px;
}

#Y{
    margin-left: 18px;
}

#U{
    margin-left: 18px;
}

.container{
    display: flex;
    margin: 10% auto;
    height: max-content;
    width: max-content;
    text-align: center;
    align-items: flex-start;
}

kbd:hover{
    background-color: aqua;
}